# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
package-lock.json
yarn.lock

/*.csv

/.env.local

# production
/build
/dist

# logs
/logs
